@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Inconsolata:wght@200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
     box-sizing: border-box;
 }

.pattern-design {
    background-size: 100px 100px;
    background-image:
            linear-gradient(to right, rgba(0, 0,0 ,0.20) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0, 0,0 ,0.20)  1px, transparent 1px);
    scroll-behavior: smooth;
}
.pattern-design:before {
    background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px 90px, linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
}

.white-pattern {
    background-size: 20px 20px;
    background-image:
            linear-gradient(to right, rgba(0, 0,0 ,0.20) 1px, transparent 1px),
            linear-gradient(to bottom, rgba(0, 0,0 ,0.20)  1px, transparent 1px);
    scroll-behavior: smooth;
}
.white-pattern:before {
    background: linear-gradient(currentcolor 1px, transparent 1px) 0% 0% / 94px 90px, linear-gradient(to right, currentcolor 1px, transparent 1px) transparent;
}

@keyframes loading-bar {
    0% { width: 0;
            background-color: #60a5fa;
    }
    50% { width: 50%;
        background-color:#4ade80;
    }
    100% { width: 100%;
        background-color: #facc15;
    }
}

.animate-loading-bar {
    animation: loading-bar 1.5s infinite;
}
